<p>
  At long last, the day of Baronet Unstable's party arrives.  You, Pauline, 3rd of 6 daughters, have been cooped up on the family estate for weeks, hoping for some diversion from the tedium of life in the country.  The morning passes in an agreeable flurry of hair-styling, dress alterations, and minor irritating incidents.  Suddenly, your mother slams open the door to the room you share with your two elder sisters and demands that you come help her gather up your younger siblings.  At the same time you notice a particularly lovely scarf peeking out of your elder sister's armoir.  A dilemma presents itself.  Do you..
</p>

<div (click)="goToStory(id1)">
  <p>A) Help Your Mother</p>
</div>
<div (click)="goToStory(id2)">
  <p>B) Snatch The Scarf</p>
</div>
